{% extends "emissionnaire/layout.html" %}

{% block body %}

            <section class="aboutpage">
                <div class="heading">
                    <h2>ABOUT&nbsp;&nbsp;<i class="fab fa-pagelines"></i></h2>
                </div>
                <div class="contents">
                    <p style="overflow:hidden;">
                        <br>
                        Emissionnaire is a student-led initiative to study emission patterns. This project not only calculates each household's GHG emissions but also suggests possible fixes in order to bring about changes within households to reduce their emissions.
                        We have also incorporated the concept of a credit based system along with a leaderboard which in turn acts as a motivator to an individual to reduce their household's emissions.<br><br>
                        Head over to the login page to do your bit for a better tomorrow! 
                    </p>
                </div>
            </section>
{% endblock %}