{% extends "emissionnaire/layout.html" %}
{% load static %}
{% block body %}
<section class="homebody">
        <div class="name">
            <h1>EMISSIONNAIRE</h1>
        </div>
        <div class="bg">
            <img src="{% static 'emissionnaire/Logo.png' %}" width="250px" height = "250px"/>
        </div>
        <div class="tagline">
            <h2>~ A community of people who strive for a better tomorrow ~</h2>
        </div>
        <div class="news">
            <br>
            <br>
            <br>
        </div>
</section>
{% endblock %}
